table,
th,
td {
  border: 1px dotted gray;
  border-collapse: collapse;
  padding: 10px;
}
th,
td {
  /* background-color: #96d4d4; */
  background-color: #6ba3ae;
  --tw-text-opacity: 1;
  color: rgb(47 79 79 / var(--tw-text-opacity));
}
strong {
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
  text-shadow: black 2px 2px;
}
p {
  font-size: 1em;
  line-height: 1.5;
  color: lightgray;
}
h2 {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
  text-shadow: black 2px 2px;
  text-decoration: underline overline dotted purple;
}
